* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
}

.container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.container .card {
  position: relative;
  width: 263px;
  height: 386px;
  background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.33) 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(42px);
          backdrop-filter: blur(42px);
  border-radius: 16px 50px 16px 16px;
}

.tenis {
  position: absolute;
  top: -200px;
  right: -120px;
}

.name {
  margin-top: 120px;
  padding: 12px 16px;
}

.name h3 {
  color: #8F8F8F;
  font-weight: bold;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.name h1 {
  color: #29455F;
  font-weight: bold;
  font-size: 26px;
  font-family: 'Montserrat', sans-serif;
}

.value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 18px;
}

.value .value-c {
  margin-right: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #8F8F8F;
}

.value .value-p {
  font-family: 'Open Sans', sans-serif;
  color: #29455F;
  font-weight: bold;
  font-size: 16px;
}

.contentBx {
  padding: 12px 16px;
}

.colors .cores {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #8F8F8F;
}

.circles {
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.colors .circle1 {
  width: 21px;
  height: 21px;
  background: #B5DB48;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.6);
  margin-right: 23px;
}

.colors .circle2 {
  width: 21px;
  height: 21px;
  background: #FF3838;
  border-radius: 50%;
  margin-right: 23px;
}

.colors .circle3 {
  width: 21px;
  height: 21px;
  background: #3864FF;
  border-radius: 50%;
}

.tamanhos h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #8F8F8F;
}

.size {
  max-width: 123px;
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.size h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  border: 1px solid red;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.size1 {
  width: 23px;
  height: 23px;
  background: #B5DB48;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  border-radius: 8px;
}

.size2 {
  width: 23px;
  height: 23px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  color: #808080;
  border-radius: 8px;
}

.size3 {
  width: 23px;
  height: 23px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  color: #808080;
  border-radius: 8px;
}

.size4 {
  width: 23px;
  height: 23px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  color: #808080;
  border-radius: 8px;
}

/*.container .card::before{
    content: "";
    position: absolute;
    
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    background: #B5DB48;
    position: absolute;
    clip-path: circle(150px at 80% 20%);
    
    transition: 0.5s ease-in-out;
}
.container .card:hover::before{
    clip-path: circle(300px at 80% 20%);
}*/
/*# sourceMappingURL=style.css.map */